#map {
  background-color: white;
}

#blackout {
  background-color: #333;
}

.graph-map {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.edge {
  stroke: gray;
}

.risk_90 {
  stroke: #FF0000;
}

.risk_80 {
  stroke: #F00E0E;
}

.risk_70 {
  stroke: #E21C1C;
}

.risk_60 {
  stroke: #D42A2A;
}

.risk_50 {
  stroke: #C63838;
}

.risk_40 {
  stroke: #B84747;
}

.risk_30 {
  stroke: #AA5555;
}

.risk_20 {
  stroke: #9C6363;
}

.risk_10 {
  stroke: #8E7171;
}

.risk_00 {
  stroke: #808080;
}

.solar {
  fill: #FFAB33;
  stroke: #DB8000;
}

.wind {
  fill: #77C2F2;
  stroke: #2A91D4;
}

.other {
  fill: #BBB;
  stroke: #888;
}

.unselected {
  fill: #555;
  stroke: #555;
}

.city {
  fill: #BBB;
  stroke: #888;
}

.blackout_node {
  -webkit-transition: stroke 0.5s;
  transition: stroke 0.5s;
}

.blackout_edge {
  -webkit-transition: stroke 0.5s;
  transition: stroke 0.5s;
}
