.pie-label {
  fill: white;
  font-family: 'Open Sans';
}

.pie-caption {
  font-family: 'Open Sans';
}

#pies {
  text-align: center;
}

#pie-present, #pie-future {
  margin-left: 2%;
  margin-right: 2%;
}
