* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

.panel {
    background-color: white;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
    max-width: 40em;
    margin: auto;
}

.container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.column-wide {
  flex: 1.5;
  padding-left: 20px;
  padding-right: 20px;
}

#title {
    height: 100vh;
    min-height: 200px;
    background-image: url("../images/wind.jpeg");
    background-size: cover;
    opacity: 1;
    position: relative;
    z-index: -2;
}

#title-div {
    position: absolute;
    top: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 80vh;
    max-width: 700px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 618px;

}

#title-div h1 {
    color: white;
}

#title-div h2 {
  color: white;
  padding-left: 5px;
  font-family: "Roboto";
  font-size: 30px;
  padding-top: 0;
  padding-bottom: 0;
  /*padding-top: 10px;*/
}

#title-div p {
    color: white;
    margin-top: 50px;
    font-family: "Libre Franklin";
}

.opacity-screen-2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.opacity-screen-3 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 70px;
    font-family: Lato;
    padding-bottom: 20px;
}

h2 {
  font-family: "Roboto";
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 50px;
}

h3 {
  font-family: "Roboto";
  font-size: 22px;
  margin-top: 15px;
}
p, li{
    font-family: "Libre Franklin";
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.4em;
}

ul {
  margin: 20px;
}

hr {
  border: 0;
}

svg text {
  font-family: Roboto;
  font-size: 10px;
}

svg .title {
  font-family: Roboto;
  font-size: 18px;
}

svg .axislabel {
  font-family: Roboto;
  font-size: 16px;
}

.footnote {
  font-size: 12px;
  font-style: italic;
}

.start-viz {
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD;
}

.end-viz {
  margin-bottom: 25px;
  margin-top: 10px;
  border-top: 1px solid #DDD;
}

#article {
    background-color: #FFF;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    padding-left: 25%;
    padding-right: 25%;
    height: 80vh;
    padding-top: 20vh;
}
