* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.panel {
    background-color: white;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
}

#title {
    height: 100vh;
    min-height: 200px;
    background-image: url("../images/wind.jpeg");
    background-size: cover;
    opacity: 1;
    position: relative;
    z-index: -2;
}

#title-div {
    position: absolute;
    top: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 80vh;
    max-width: 700px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 618px;

}

#title-div h1 {
    color: white;
}

#title-div h2 {
  color: white;
  padding-left: 5px;
  font-family: "Roboto";
  font-size: 30px;
  /*padding-top: 10px;*/
}

#title-div p {
    color: white;
    margin-top: 50px;
    font-family: "Open Sans";
}

.opacity-screen-2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.opacity-screen-3 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 70px;
    font-family: Lato;
    padding-bottom: 20px;
}


p, li{
    font-family: Open Sans;
    font-size: 18px;
    padding-left: 5px;
}

ul {
  margin: 20px;
}

#article {
    background-color: #FFF;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    padding-left: 25%;
    padding-right: 25%;
    height: 80vh;
    padding-top: 20vh;
}
